%roboto-regular {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-medium {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-bold {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

$primary-color: #1a1b29;
$secondary-color: #F51957;
$body-bg-color: #F6F7F9;
$body-color: #51526e;
$border-color: #eff1f6;
$light-gray-color: #8f8e9f;
$white-color: #fff;
$green-color: #30B507;